:root {
    --gui-width: 360px;
    background-color: rgb(36, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

::-webkit-scrollbar {
    width: 6.9px;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background: #00000054;
}

::-webkit-scrollbar-thumb:hover {
    background: #00000027;
}

#previewcontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - var(--gui-width));
    box-sizing: border-box;
    padding: 15px;
}

#guicontainer {
    position: fixed;
    top: 15px;
    right: 15px;
    height: calc(100vh - 30px);
    width: calc(var(--gui-width) - 30px);
    box-sizing: border-box;
    padding: 12px;
    background-color: rgb(71, 32, 0);
    color: whitesmoke;
    overflow-y: auto;
    overflow-x: hidden;
}

.ygui-input, ::-webkit-file-upload-button {
    width: 90px;
    background-color: rgb(42, 21, 0);
    color: darkorange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#exportpanel {
    width: calc(100vw - var(--gui-width));
    height: 69px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    box-sizing: border-box;
}

#exportpanel button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(42, 21, 0);
    color: darkorange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 690px) {
    #previewcontainer {
        width: 100vw;
        height: 180px;
    }
    #guicontainer {
        top: 180px;
        width: calc(100vw - 30px);
        height: calc(100vh - 15px - 180px - 69px);
    }
    #exportpanel {
        width: 100vw;
    }
}